@import './variables.scss';

.app {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75vh;
    gap: 1rem;
  }
  &__title {
    font-size: 6rem;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    padding: 1.5rem;
  }
}
